* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 8%);
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    padding: 24px 0px;
    border-radius: 10px;
}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img{
    border-radius: 100px;
    width: 64px;
    height: auto;
    margin-bottom: 20px;
}

.name{
    font-size: 20px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    margin-bottom: 6px;
}

.city{
    font-size: 12px;
    font-weight: 500;
    color: hsl(75, 94%, 57%);
    margin-bottom: 24px;
}

.job{
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-weight: 300;
    margin-bottom: 12px;
}

.social-network{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    font-size: 12px;
    font-weight: 600;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 10px 32px;
    border-radius: 8px;
}

.social-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-network:hover{
    background-color: hsl(75, 94%, 57%);
    color:hsl(0, 0%, 8%);
    cursor: pointer;
}